@model IEnumerable<BeanScene.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Tables & Areas</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Main</h3>
        <img src="@ViewBag.MainImage?v=@DateTime.Now.Ticks" alt="Main Area" class="img-fluid" />
        @if (User.IsInRole("Manager"))
        {
            <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <input type="hidden" name="area" value="Main" />
                <input type="file" name="file" class="form-control" />
                <input type="submit" value="Upload" class="btn btn-primary mt-2" />
            </form>
        }
    </div>
    <div class="col-md-4">
        <h3>Outside</h3>
        <img src="@ViewBag.OutsideImage?v=@DateTime.Now.Ticks" alt="Outside Area" class="img-fluid" />
        @if (User.IsInRole("Manager"))
        {
            <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <input type="hidden" name="area" value="Outside" />
                <input type="file" name="file" class="form-control" />
                <input type="submit" value="Upload" class="btn btn-primary mt-2" />
            </form>
        }
    </div>
    <div class="col-md-4">
        <h3>Balcony</h3>
        <img src="@ViewBag.BalconyImage?v=@DateTime.Now.Ticks" alt="Balcony Area" class="img-fluid" />
        @if (User.IsInRole("Manager"))
        {
            <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <input type="hidden" name="area" value="Balcony" />
                <input type="file" name="file" class="form-control" />
                <input type="submit" value="Upload" class="btn btn-primary mt-2" />
            </form>
        }
    </div>
</div>
@if (User.IsInRole("Manager") || User.IsInRole("Staff"))
{
    <i class="bi bi-plus-square"></i>

    <a asp-action="Create">Create New</a>
}
<table class="table">
    <thead>
        <tr>
            <th>Table</th>
            <th>@Html.DisplayNameFor(model => model.Area)</th>
            <th>@Html.DisplayNameFor(model => model.TableNo)</th>
            <th>@Html.DisplayNameFor(model => model.TableCapacity)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TableName)</td>
                <td>@Html.DisplayFor(modelItem => item.Area)</td>
                <td>@Html.DisplayFor(modelItem => item.TableNo)</td>
                <td>@Html.DisplayFor(modelItem => item.TableCapacity)</td>
                <td>
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TableId">Edit <i class="bi bi-pencil-square"></i></a>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Details" asp-route-id="@item.TableId">Info <i class="bi bi-info-square"></i></a>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.TableId">Delete <i class="bi bi-trash3"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
